<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>First APP Picture Page</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/mystyle.css"%}"/>
</head>
<body>
	<h1>Hello This is from Index.html!</h1>

	<h2>Here is your table data </h2>

	<div class="data">
		{% if access_records %}
		<table>
			<thead>
				<th>Site Name</th>
				<th>Date Accessed</th>
			</thead>
			{% for rec in access_records %}
			<tr>
				<td>{{ rec.name }}</td>
				<td>{{ rec.date  }}</td>
			</tr>
			{% endfor %}

		</table>
		{% else %}
			<p> No Access Record Found!</p>
		{% endif %}

	</div>
	
	

</body>
</html>